RequestServiceClient/RequestServiceClient/Service References/RequestServiceReference/RequestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/RequestService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequestService" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:long" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RequestService" minOccurs="0" name="requestType" type="q1:RequestType" />
        <xs:element minOccurs="0" name="requestParams" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RequestService" minOccurs="0" name="GetRequestsResult" nillable="true" type="q2:UserRequestCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hash" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>